
<nav class="navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container" id="collapsibleNavbar">
	<div class="container">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a href="/" class="nav-link">Home</a>
		</li>
		{% for link in cat.categories %}
			<li class="nav-item">
				<a href="/meals/{{link.strCategory}}" class="nav-link">{{link.strCategory}}</a>
			</li>
		{% endfor%}
	</ul>	
</div>
</nav>